<!DOCTYPE html>
<html>
    <body style="background-image: url({{bgfile}});
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;">
    <h2>Choose background pattern</h2>
    <form action="\newbg" method="POST">
    <h3><input type="radio" name="bgi" value="white.png" checked>white</h3>
    <h3><input type="radio" name="bgi" value="grey.png">grey</h3>
    <h3><input type="radio" name="bgi" value="vstripes.png">vertical stripes</h3>
    <h3><input type="radio" name="bgi" value="hstripes.png">horizontal stripes</h3>
    <br>
    <input type="submit" value="change">
        </form>
    </body>
</html>