<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        <script src="{{ url_for('static', filename='hello.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="mystyle.css">
    </head>
    <body onload="myFunction()">
        <div id = "time" style="text-align:right; width: 100%;"></div>
        <h1 style="color:blue">
            <div id="ttl">{{title}}</div>
        </h1>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Marks</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                {% for row in marks %}
                <tr>
                    <td>{{row['Name']}}</td>
                    <td>{{row['Marks']}}</td>
                    <td>
                        {% if row['Marks'] >= 50 %}
                        <div>Pass</div>
                        {% else %}
                            <div style="text-decoration-line:underline;">Fail</div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>