<!DOCTYPE html>
<html>
    <head>
        <style>
            p {
                background-color:grey;
                font-size: 150%;
            }
        </style>
    </head>
    <body>
        <h1>Flask Message Flashing Example</h1>
        {% with message = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p> {{category}}:{{mesage}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h3>Login Form</h3>
        <form action = "" method="POST">
            <dl>
                <dt>Username:
                    <dd><input type="text" name="username">
                    <dt>Password:
                        <dd><input type = "password" name="password"></dd>
                    </dt>
                    </dd>
                </dt>
            </dl>
            <input type="submit" value="Login">
        </form>
    </body>
</html>